
.container {
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 1.5rem;

  .highlightsContainer {
    position: relative;
    box-sizing: border-box;

    > img {
      display: block;
      width: 100%;
      height: auto;
      box-sizing: border-box;
    }

    > .highlightsOverlay {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      transition: .5s ease;
      opacity: 0;
      color: white;
      font-size: 20px;
      padding: 20px;
      text-align: center;
      box-sizing: border-box;
    }
  }

  .highlightsContainer:hover .highlightsOverlay {
    opacity: 1;
  }
}