
@font-face {
  font-family: 'RadioNewsman';
  src: local('RadioNewsman'),
        url('./RadioNewsman.ttf');
}

@font-face {
  font-family: 'AnzeigenGrotesk';
  src: local('AnzeigenGrotesk'),
        url('./AnzeigenGrotesk.otf');
}