
/* global styles go here */
.root {
  width: 100vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  > .title {
    color: black;

    font-size: 5rem;
    font-family: 'AnzeigenGrotesk', sans;

    margin: 0;
  }
}