
@import url("./fonts/fonts.css");

html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}

body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

a {
  transition-duration: 250ms;
  transition-timing-function: ease;
}